<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/user" routerLinkActive="active" class="nav-link p-3">User Setting</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/workspace" routerLinkActive="active" class="nav-link p-3">Workspace Setting</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>